name: Prod Deploy

on:
  workflow_dispatch:
    inputs:
      tag:
        required: true
        type: string
      environment:
        required: true
        type: string
      region:
        required: true
        type: string

  repository_dispatch:
    types: [prod-deploy]

# =========================================================
# MANUAL RUN → APPROVAL REQUIRED
# =========================================================
jobs:
  approval-manual:
    if: github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    environment: manual-prod-approval
    steps:
      - run: echo "Manual deployment approved"

  deploy-manual:
    if: github.event_name == 'workflow_dispatch'
    needs: approval-manual
    uses: vasunaidu-2/shared-workflows/.github/workflows/shared-deploy.yml@main
    with:
      service: ${{ github.event.repository.name }}
      tag: ${{ inputs.tag }}
      environment: ${{ inputs.environment }}
      region: ${{ inputs.region }}

# =========================================================
# ORCHESTRATOR RUN → NO APPROVAL
# =========================================================
  deploy-auto:
    if: github.event_name == 'repository_dispatch'
    uses: vasunaidu-2/shared-workflows/.github/workflows/shared-deploy.yml@main
    with:
      service: ${{ github.event.repository.name }}
      tag: ${{ github.event.client_payload.tag }}
      environment: ${{ github.event.client_payload.environment }}
      region: ${{ github.event.client_payload.region }}
