name: Prod Deploy

on:
  workflow_dispatch:
    inputs:
      tag:
        required: true
        type: string
      environment:
        required: true
        type: string

jobs:
  approval:
    runs-on: ubuntu-latest
    environment: prod-approval
    steps:
      - run: echo "Deployment approved"

  deploy:
    needs: approval
    uses: vasunaidu-2/shared-deploy/.github/workflows/shared-deploy.yml@main
    with:
      service: ${{ github.repository }}
      tag: ${{ inputs.tag }}
      environment: ${{ inputs.environment }}
      region: us-west-2
