name: Prod Deploy

on:
  workflow_dispatch:
    inputs:
      tag:
        required: true
      environment:
        required: true

jobs:
  deploy:
    name: Prod Deploy
    runs-on: ubuntu-latest
    environment: prod-approval

    steps:
      - uses: actions/checkout@v4
      - run: |
          echo "Repo: ${{ github.repository }}"
          echo "Version: ${{ inputs.tag }}"
          echo "Environment: ${{ inputs.environment }}"
