name: Production Deployment

on:
  workflow_dispatch:
    inputs:
      tag:
        required: true
        type: string
      environment:
        required: true
        type: string
      region:
        required: true
        type: string

jobs:
# -----------------------------------
# Repo-level approval
# -----------------------------------
  approval:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - run: echo " Repo-level approval granted"

# -----------------------------------
# Call shared workflow
# -----------------------------------
  deploy:
    needs: approval
    uses: vasunaidu-2/shared-workflows/.github/workflows/shared-deploy.yml@main
    with:
      service: ${{ github.event.repository.name }}
      tag: ${{ inputs.tag }}
      environment: ${{ inputs.environment }}
      region: ${{ inputs.region }}
